.register-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-center-align {
  display: flex;
  justify-content: center;
}

.div-right-align {
  display: flex;
  justify-content: right;
}

.error {
  color: red;
  margin-bottom: 10px;
}

#register-title {
  margin-bottom: 25px;
}

button {
  margin-left: 20px;
}
