.register-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-center-align {
  display: flex;
  justify-content: center;
}

.div-right-align {
  display: flex;
  justify-content: right;
}

.message {
  display: flex;
  justify-content: center;
  color: red;
  margin-bottom: 10px;
}

.login {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#register-title {
  margin-bottom: 25px;
}
